In [1]:
import pandas as pd

In [2]:
raw_interactions = pd.read_csv('assets/csv/interactions_dataset.csv')
raw_shoes = pd.read_csv('assets/csv/shoes_dataset.csv')
raw_users = pd.read_csv('assets/csv/users_dataset.csv')

In [3]:
raw_shoes.dropna(subset=['price', 'title'], inplace=True)
raw_shoes.reset_index(inplace=True)
raw_shoes

,index,title,price,brand,asin,outer_material,inner_material,sole,closure,heel_height,heel_type,shoe_width
0,0,"Geox Jr Sandal Strada B Fisherman, Brown Red, ...",£50.00,Visit the Geox Store,B08BLP231K,Synthetic,Synthetic,Rubber,Strap,2 centimetres,Flat,Medium
1,1,Fila Women's Oakmont Tr Sneaker,£49.57 - £234.95,Fila,B08N587YZ9,fabric,NaN,Rubber,Lace-Up,NaN,No Heel,medium
2,3,Merrell Women'S Bare Access Xtr Trail Running ...,£67.00 - £182.44,Visit the Merrell Store,B07KMB98CG,Synthetic,Manmade,Synthetic,Lace-Up,NaN,NaN,Medium
3,4,Desigual Women's Shoes_Runner_cmofl Sneakers W...,£38.96 - £81.10,Desigual,B08CN3S1ZK,Polyester,Synthetic,Rubber,Lace-Up,NaN,Flat,Medium
4,5,Aquatalia Men's Adamo Dress Calf Penny Loafer,£161.63 - £202.04,Aquatalia,B07KJX15DV,NaN,NaN,Rubber,Pull On,NaN,NaN,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...
11163,11600,safety footwear v6471 elk grained leather boot...,£22.33 - £29.99,Visit the V12 Store,B00E9SKPE0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11164,11601,"2711Mezlan Men's Verdi Oxford,Tan,11.5 M",£188.86,Mezlan,B001VNCTD6,NaN,NaN,NaN,Lace-Up,NaN,NaN,Medium
11165,11602,QTZTZ Assassination Classroom Men's canvas sho...,£22.00,QTZTZ,B09B9Q5CRM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11166,11603,New Balance Women's Rise V1 Cushioning Running...,£124.23,Visit the New Balance Store,B07BL2S751,Canvas,NaN,Rubber,Buckle,NaN,low-heel,Medium
11167,11604,viking Jolly Winter Rain Boot Child,£18.32 - £43.87,Visit the Viking Store,B07TD54MBQ,Rubber,Manmade,Rubber,Slip-On,NaN,NaN,Weit

In [4]:
null_values = raw_shoes.isnull().mean().sort_values() * 100
null_values

index              0.000000
title              0.000000
price              0.000000
asin               0.000000
brand              0.017908
closure            7.190186
shoe_width         8.998926
sole              14.514685
outer_material    25.617837
heel_type         46.042264
inner_material    49.534384
heel_height       75.000000
dtype: float64

In [5]:
raw_shoes.dropna(axis=0, thresh=7, inplace=True)
raw_shoes

,index,title,price,brand,asin,outer_material,inner_material,sole,closure,heel_height,heel_type,shoe_width
0,0,"Geox Jr Sandal Strada B Fisherman, Brown Red, ...",£50.00,Visit the Geox Store,B08BLP231K,Synthetic,Synthetic,Rubber,Strap,2 centimetres,Flat,Medium
1,1,Fila Women's Oakmont Tr Sneaker,£49.57 - £234.95,Fila,B08N587YZ9,fabric,NaN,Rubber,Lace-Up,NaN,No Heel,medium
2,3,Merrell Women'S Bare Access Xtr Trail Running ...,£67.00 - £182.44,Visit the Merrell Store,B07KMB98CG,Synthetic,Manmade,Synthetic,Lace-Up,NaN,NaN,Medium
3,4,Desigual Women's Shoes_Runner_cmofl Sneakers W...,£38.96 - £81.10,Desigual,B08CN3S1ZK,Polyester,Synthetic,Rubber,Lace-Up,NaN,Flat,Medium
4,5,Aquatalia Men's Adamo Dress Calf Penny Loafer,£161.63 - £202.04,Aquatalia,B07KJX15DV,NaN,NaN,Rubber,Pull On,NaN,NaN,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...
11161,11597,Fashion Breathable Stretch Knitted Women Sport...,£33.69,Jundao,B09BRFV5QL,Textile,Mesh,Rubber,Lace-Up,3 centimetres,Flat,Normal
11162,11598,My Neighbor TotoroCanvas Sneaker Lace Up Sneak...,£34.82,M.YAN,B08Y5XLSW4,Canvas,NaN,NaN,Lace-Up,NaN,NaN,Medium
11164,11601,"2711Mezlan Men's Verdi Oxford,Tan,11.5 M",£188.86,Mezlan,B001VNCTD6,NaN,NaN,NaN,Lace-Up,NaN,NaN,Medium
11166,11603,New Balance Women's Rise V1 Cushioning Running...,£124.23,Visit the New Balance Store,B07BL2S751,Canvas,NaN,Rubber,Buckle,NaN,low-heel,Medium
11167,11604,viking Jolly Winter Rain Boot Child,£18.32 - £43.87,Visit the Viking Store,B07TD54MBQ,Rubber,Manmade,Rubber,Slip-On,NaN,NaN,Weit

In [6]:
raw_shoes['heel_height'].fillna(0, inplace=True)
raw_shoes['heel_type'].fillna('no heel', inplace=True)
raw_shoes['shoe_width'].fillna('medium', inplace=True)
raw_shoes['shoe_width'] = raw_shoes['shoe_width'].str.lower()
raw_shoes['shoe_width'].value_counts()

medium                             7308
normal                              756
m                                   404
wide                                287
schmal                              262
                                   ...
narrow toddler_us                     1
xx-wide womens_us                     1
medium metres, medium womens_us       1
average (d)                           1
extra wide                            1
Name: shoe_width, Length: 159, dtype: int64

In [7]:
raw_shoes['shoe_width'].replace('m', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('normale', 'normal', inplace=True)
raw_shoes['shoe_width'].replace('regular', 'normal', inplace=True)
raw_shoes['shoe_width'].replace('w', 'wide', inplace=True)
raw_shoes['shoe_width'].replace('m youth_us', 'medium youth_us', inplace=True)
raw_shoes['shoe_width'].replace('d (m)', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('m womens_us', 'medium womens_us', inplace=True)
raw_shoes['shoe_width'].replace('narrow', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('b (m)', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('normal centimetres', 'normal', inplace=True)
raw_shoes['shoe_width'].replace('weit', 'wide', inplace=True)
raw_shoes['shoe_width'].replace('m mens_us', 'medium mens_us', inplace=True)
raw_shoes['shoe_width'].replace('b', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('b(m) womens_us', 'medium womens_us', inplace=True)
raw_shoes['shoe_width'].replace('b womens_us', 'medium womens_us', inplace=True)
raw_shoes['shoe_width'].replace('d(m) mens_us', 'medium mens_us', inplace=True)
raw_shoes['shoe_width'].replace('m toddler_us', 'medium toddler_us', inplace=True)
raw_shoes['shoe_width'].replace('w mens_us', 'wide mens_us', inplace=True)
raw_shoes['shoe_width'].replace('medium centimetres', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('w youth_us', 'wide youth_us', inplace=True)
raw_shoes['shoe_width'].replace('narrow womens_us', 'medium womens_us', inplace=True)
raw_shoes['shoe_width'].replace('d - wide', 'wide', inplace=True)
raw_shoes['shoe_width'].replace('extra-weit', 'wide', inplace=True)
raw_shoes['shoe_width'].replace(
    'normal. atmungsaktives und leichtes design, das sich hervorragend für den ganztägigen komfort eignet. mehrere farben zur auswahl, schwarz, grau, blau, pink und mehr.',
    'normal', inplace=True)
raw_shoes['shoe_width'].replace('b(m)', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('d (m) mens_us', 'medium mens_us', inplace=True)
raw_shoes['shoe_width'].replace('2e (m) wide', 'wide', inplace=True)
raw_shoes['shoe_width'].replace('m (b)', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('w womens_us', 'wide womens_us', inplace=True)
raw_shoes['shoe_width'].replace('n', 'normal', inplace=True)
raw_shoes['shoe_width'].replace('medium mens_us, medium womens_us', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('d mens_us', 'medium mens_us', inplace=True)
raw_shoes['shoe_width'].replace('d', 'normal', inplace=True)
raw_shoes['shoe_width'].replace('moyen', 'medium', inplace=True)
raw_shoes['shoe_width'].replace('xw mens_us', 'x-wide mens_us', inplace=True)
raw_shoes['shoe_width'].replace('xw', 'x-wide', inplace=True)
raw_shoes['shoe_width'].replace('schmal', 'medium', inplace=True)

duplicated_values_count = pd.DataFrame(
    raw_shoes.pivot_table(columns=['shoe_width'], aggfunc='size').sort_values(ascending=False))
for index, row in duplicated_values_count.iterrows():
    if row.values[0] < 4:
        raw_shoes = raw_shoes[raw_shoes.shoe_width != row.name]
raw_shoes.pivot_table(columns=['shoe_width'], aggfunc='size').sort_values(ascending=False)

shoe_width
medium               8169
normal               1061
wide                  381
medium womens_us      234
medium mens_us        174
medium youth_us        93
wide mens_us           32
x-wide                 29
medium toddler_us      20
wide womens_us         18
medium unisex_eu       12
normal unisex_eu       11
x-wide mens_us         11
normal mens_us         10
x-wide womens_us        7
wide youth_us           7
normal womens_us        7
large                   6
dtype: int64

In [8]:
remove_digits = lambda string: ''.join([i for i in string if not i.isdigit()])
raw_shoes['heel_height'] = raw_shoes['heel_height'].astype(str)
heel_height_units = raw_shoes['heel_height'].apply(remove_digits)
heel_height_units.value_counts()

                              7573
 centimetres                  1304
. centimetres                  508
. inches                       401
 inches                        358
 millimetres                    69
 mm                             15
 centimeters centimetres         6
. millimetres                    6
.                                6
- centimetres                    4
cm                               4
. centimeters centimetres        3
Flat                             2
Low Heel                         2
 /" inches                       2
Not Applicable centimetres       2
High Height                      1
mm                               1
 cm centimetres                  1
.cm                              1
" inches                         1
 /"                              1
Light, Wear                      1
/"                               1
Under  Inch                      1
Mid-Top                          1
 Feet                            1
.cm centimetres                  1
 cm.                             1
low heel                         1
 , .                             1
"""                              1
"                                1
Name: heel_height, dtype: int64

In [9]:
import re

centimeters = ['centimetres', '. centimetres', 'centimeters centimetres', '.', '- centimetres', 'cm', '. centimeters centimetres', 'Not Applicable centimetres' ,'High Height', 'cm centimetres', '.cm', '/"', 'Light, Wear', '/"', 'Mid-Top', 'Feet', '.cm centimetres', 'cm.', ', .', '"""', '"']
inches = ['. inches', 'inches', '/" inches', '" inches', 'Under  Inch']
millimeters = ['millimetres', 'mm', '. millimetres', 'mm']
zeros = ['Flat', 'Low Heel', 'low heel']
find_numbers = lambda string: re.findall("\d+", string)
for index, row in pd.DataFrame(raw_shoes['heel_height']).iterrows():
    heel_height = row.values[0]
    if type(heel_height) == int:
        continue
    unit = remove_digits(heel_height).strip()
    height = find_numbers(heel_height)
    if len(height) == 0:
        raw_shoes.loc[index, 'heel_height'] = 0
        continue
    height = float(height[0]) if len(height) == 1 else float(height[0].join(height[1]))
    if unit in centimeters:
        raw_shoes.loc[index, 'heel_height'] = height * 1
    elif unit in inches:
        raw_shoes.loc[index, 'heel_height'] = height * 2.54
    elif unit in millimeters:
        raw_shoes.loc[index, 'heel_height'] = height / 100
    else:
        raw_shoes.loc[index, 'heel_height'] = 0
raw_shoes.heel_height

0        2.0
1          0
2          0
3          0
4          0
        ...
11161    3.0
11162      0
11164      0
11166      0
11167      0
Name: heel_height, Length: 10282, dtype: object

In [10]:
raw_shoes['heel_type'] = raw_shoes['heel_type'].str.lower()
raw_shoes.pivot_table(columns=['heel_type'], aggfunc='size').sort_values(ascending=False)

heel_type
no heel                                                                                                                                                                                                                           5573
flat                                                                                                                                                                                                                              2670
low-heel                                                                                                                                                                                                                           471
low                                                                                                                                                                                                                                429
block                                                                                                                                                                                                                              272
                                                                                                                                                                                                                                  ...
flat-the sole is matched with an enhanced cushioning air cushion, which has excellent cushioning performance, which can provide greater strength and comfort to the foot during exercise, and improve the exercise experience.       1
flat,no-heel                                                                                                                                                                                                                         1
flat, the flat, highly elastic foam sole makes walking more comfortable.                                                                                                                                                             1
flat, comfortable to wear and easy to walk                                                                                                                                                                                           1
【note】our slippers are a little smaller than normal, so we recommend that you order one size larger.                                                                                                                                 1
Length: 148, dtype: int64

In [11]:
raw_shoes['heel_type'].replace('low', 'low-heel', inplace=True)
raw_shoes['heel_type'].replace('no paragraph', 'no heel', inplace=True)
raw_shoes['heel_type'].replace('technical_sport_shoe, flat', 'technical_sport', inplace=True)
raw_shoes['heel_type'].replace('shoes, flat', 'flat', inplace=True)
raw_shoes['heel_type'].replace('low-heels', 'low-heel', inplace=True)
raw_shoes['heel_type'].replace('without heel', 'no heel', inplace=True)
raw_shoes['heel_type'].replace('kein absatz', 'no heel', inplace=True)

duplicated_values_count = pd.DataFrame(
    raw_shoes.pivot_table(columns=['heel_type'], aggfunc='size').sort_values(ascending=False))
for index, row in duplicated_values_count.iterrows():
    if row.values[0] < 6:
        raw_shoes = raw_shoes[raw_shoes.heel_type != row.name]
raw_shoes.pivot_table(columns=['heel_type'], aggfunc='size').sort_values(ascending=False)

heel_type
no heel            5672
flat               2684
low-heel            910
block               272
platform            212
wedge               168
mid-heel             28
kitten               27
chunky               21
stacked              20
technical_sport      19
cone                 18
western              13
stiletto             11
louis heel            9
high-heel             8
flare                 6
dtype: int64

In [12]:
find_numbers = lambda string: re.findall("\d+\.+\d+", string)

def reformat_prices(prices):
    prices = prices.apply(find_numbers)
    for index in range(prices.shape[0]):
        price = prices.get(index)
        if price is None:
            prices[index] = 0
        elif len(price) > 1:
            prices[index] = (float(price[0]) + float(price[1])) / 2
        else:
            prices[index] = float(price[0])
    return prices

raw_shoes.reset_index(inplace=True)
raw_shoes['price'] = reformat_prices(raw_shoes['price'])
raw_shoes.drop(columns=['index'], inplace=True)
raw_shoes

,level_0,title,price,brand,asin,outer_material,inner_material,sole,closure,heel_height,heel_type,shoe_width
0,0,"Geox Jr Sandal Strada B Fisherman, Brown Red, ...",50.0,Visit the Geox Store,B08BLP231K,Synthetic,Synthetic,Rubber,Strap,2.0,flat,medium
1,1,Fila Women's Oakmont Tr Sneaker,142.26,Fila,B08N587YZ9,fabric,NaN,Rubber,Lace-Up,0,no heel,medium
2,2,Merrell Women'S Bare Access Xtr Trail Running ...,124.72,Visit the Merrell Store,B07KMB98CG,Synthetic,Manmade,Synthetic,Lace-Up,0,no heel,medium
3,3,Desigual Women's Shoes_Runner_cmofl Sneakers W...,60.03,Desigual,B08CN3S1ZK,Polyester,Synthetic,Rubber,Lace-Up,0,flat,medium
4,4,Aquatalia Men's Adamo Dress Calf Penny Loafer,181.835,Aquatalia,B07KJX15DV,NaN,NaN,Rubber,Pull On,0,no heel,medium
...,...,...,...,...,...,...,...,...,...,...,...,...
10093,11161,Fashion Breathable Stretch Knitted Women Sport...,33.69,Jundao,B09BRFV5QL,Textile,Mesh,Rubber,Lace-Up,3.0,flat,normal
10094,11162,My Neighbor TotoroCanvas Sneaker Lace Up Sneak...,34.82,M.YAN,B08Y5XLSW4,Canvas,NaN,NaN,Lace-Up,0,no heel,medium
10095,11164,"2711Mezlan Men's Verdi Oxford,Tan,11.5 M",188.86,Mezlan,B001VNCTD6,NaN,NaN,NaN,Lace-Up,0,no heel,medium
10096,11166,New Balance Women's Rise V1 Cushioning Running...,124.23,Visit the New Balance Store,B07BL2S751,Canvas,NaN,Rubber,Buckle,0,low-heel,medium
10097,11167,viking Jolly Winter Rain Boot Child,31.095,Visit the Viking Store,B07TD54MBQ,Rubber,Manmade,Rubber,Slip-On,0,no heel,wide

In [13]:
raw_shoes.to_csv('assets/csv/preprocessed_shoes.csv', index=False)

In [14]:
raw_interactions.drop(raw_interactions[raw_interactions['value'] == False].index, inplace=True)
raw_interactions.shape

In [15]:
raw_interactions.to_csv('assets/csv/preprocessed_interactions.csv', index=False)